.shop-container{
    display:flex;
}
.product-container{
    flex-basis: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 1px solid lightgrey;
}
.cart-container{
    flex-basis: 30%;
}